[Unit]
Description=reglas demo service
After=firewalld.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/sbin/iptables-restore < /etc/sysconfig/iptables

StartLimitAction=reboot

[Install]
WantedBy=firewalld.service
